<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key></key>
	<string></string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>klaarshop</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.266332807977-l5v8ofqqq1cfdlvh6m6qink0me6psufs</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>WBK would like to use your camera</string>
	<key>NSHealthShareUsageDescription</key>
	<string>Read and understand health data.</string>
	<key>NSHealthUpdateUsageDescription</key>
	<string>Share workout data with other apps.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>NSMicrophoneUsageDescription</key>
	<string>WBK would like to your microphone (for videos)</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>WBK would like access to your photo gallery</string>
	<key>UIAppFonts</key>
	<array>
		<string>Albra Black.otf</string>
		<string>Albra Bold.otf</string>
		<string>Albra Light.otf</string>
		<string>Albra Medium.otf</string>
		<string>Albra Regular.otf</string>
		<string>Albra Semi.otf</string>
		<string>Albra Text Black.otf</string>
		<string>Albra Text Bold.otf</string>
		<string>Albra Text Light.otf</string>
		<string>Albra Text Medium.otf</string>
		<string>Albra Text Regular.otf</string>
		<string>Albra Text Semi.otf</string>
		<string>HKGrotesk-Black.otf</string>
		<string>HKGrotesk-Bold.otf</string>
		<string>HKGrotesk-BoldItalic.otf</string>
		<string>HKGrotesk-BoldLegacy.otf</string>
		<string>HKGrotesk-BoldLegacyItalic.otf</string>
		<string>HKGrotesk-ExtraBold.otf</string>
		<string>HKGrotesk-Italic.otf</string>
		<string>HKGrotesk-LegacyItalic.otf</string>
		<string>HKGrotesk-Light.otf</string>
		<string>HKGrotesk-LightItalic.otf</string>
		<string>HKGrotesk-LightLegacy.otf</string>
		<string>HKGrotesk-LightLegacyItalic.otf</string>
		<string>HKGrotesk-Medium.otf</string>
		<string>HKGrotesk-MediumItalic.otf</string>
		<string>HKGrotesk-MediumLegacy.otf</string>
		<string>HKGrotesk-MediumLegacyItalic.otf</string>
		<string>HKGrotesk-Regular.otf</string>
		<string>HKGrotesk-RegularLegacy.otf</string>
		<string>HKGrotesk-SemiBold.otf</string>
		<string>HKGrotesk-SemiBoldItalic.otf</string>
		<string>HKGrotesk-SemiBoldLegacy.otf</string>
		<string>HKGrotesk-SemiBoldLegacyItalic.otf</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
